<div class="row-fluid">

  <div class="span8">
    

      <% if @notifications > 0 %>
        <div class="well">You have <%= @notifications %> new message(s).</div>
        <% else %>
      <% end %>
    <div class="wrapper">
	   <%= link_to 'Share a Secret...', new_post_path, :class => 'btn btn-primary'  %>
     
    </div>
    <div id="posts">
      <%= render @posts %>
      
    </div>
    <%= will_paginate @posts %>
  </div>
  <div class="span4 visible-desktop">

    <%= render 'layouts/sidebar' %>
  </div>
</div>