<div class="box">
	<% if post.image.present? %> 
		<%= link_to (image_tag post.image(:medium)), post %>
	<% else %>
	<% end %>
	<p class="description">
		<%= link_to post.description, post %>
	</p>
	<p>
		@<%= link_to post.community.description, post.community %>
	</p>
	<p>
		<%= link_to '<i class="icon-heart"></i>'.html_safe, votefor_post_path(post), :method => :post %>
		<%= post.upvotes.size %>
	</p>
</div>