<div class="row">
	<div class="span6 offset1">
		<div class="box">
			<% if @post.image.present? %> 
				<%= image_tag @post.image %>
			<% else %>
			<% end %>
			<p>
			  <%= @post.description %>
			</p>

			<p>
			  @
			  <%= link_to @post.community.description, @post.community %>
			</p>

				<p>
					<%= link_to '<i class="icon-heart"></i>'.html_safe, votefor_post_path(@post), :method => :post %>
					<%= @post.upvotes.size %>
				</p>
				<p>
					<%= link_to '<i class="icon-comment"></i>'.html_safe, @post %>
					<%= @post.comments.size-1 %>
				</p>

			<% if current_user == @post.user %>
				<%= link_to 'Edit', edit_post_path(@post) %> | 
				<%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
			<% end %>

			<%= simple_form_for [@post, @comment] do |f| %>
			  <%= f.input :comment, as: :text, input_html: { rows: "3"} %>
			  <%= f.button :submit, class: "btn btn-primary" %>
			<% end %>
			<div id="comments">
				<%= render @comments %>
				
			</div>
			<%= will_paginate @comments %>

		</div>


	</div>
</div>