<% content_for :head do %>
  <meta property="og:title"  content="Sample" /> 
  <meta property="og:description" content="@post.description" />
  <meta property="og:image"  content="https://fbstatic-a.akamaihd.net/images/devsite/attachment_blank.png" /> 
<% end %>

<div class="row-fluid">
	<div class="span8">
		<div class="box">
			<% if @post.image.present? %> 
				<%= image_tag @post.image %>
			<% else %>
			<% end %>
			<p>
			  <%= @post.description %>
			</p>
			<%= link_to 'Share on Facebook', 'http://www.facebook.com/sharer.php?u='+request.original_url, :target => :blank %>
			<p>
				<% if current_user == @post.user %>
					<%= link_to 'Edit', edit_post_path(@post) %> | 
					<%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
				<% end %>
				
			</p>

			<div id="actions">
					<%= social_share_button_tag(@post.description) %>
					<%= link_to '@ ' + @post.community.description, @post.community, :class => 'btn' %>

				<div class="alignright">

					<% if current_user != @post.user %>
					<%= link_to '<i class="icon-envelope icon-purple"></i> '.html_safe, message_post_path(@post), :class => 'btn' %>
					<% end %>
					<%= link_to '<i class="icon-heart icon-pink"></i> '.html_safe + @post.upvotes.size.to_s, votefor_post_path(@post), :method => :post, :class => 'btn' %>
					<%= link_to '<i class="icon-comment icon-blue"></i> '.html_safe + (@post.comments.size - 1).to_s, @post, :class => 'btn' %>

				</div>
			</div>
			<br>
			<div>
				<%= simple_form_for [@post, @comment] do |f| %>
					<%= f.error_notification %>
				  <%= f.input :comment, placeholder: 'Write a comment...',as: :text, input_html: { rows: "3", style: 'width: 95%'}, label: false %>
				  <%= f.button :submit, class: "btn btn-primary" %>
				<% end %>
			</div>
			<div id="comments">
				<%= render @comments %>
				
			</div>
			<%= will_paginate @comments %>

		</div>


	</div>
</div>