<%= simple_form_for(@community, html: {class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :image_file_size, class: "alert alert-error" %>
  <%= f.full_error :image_content_type, class: "alert alert-error" %>
  
  <%= f.input :cover, label: "Upload an image" %>
  <%= f.input :description, label: "Name" %>
  <%= f.input :intro, label: "Description" %>
  <%= f.association :category, collection: @categories, label_method: :description, value_method: :id, include_blank: false %>
  <%= f.association :location, collection: @locations, label_method: :description, value_method: :id, include_blank: false %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary"%>
  </div>
<% end %>
