<div class="row">
  <div class="span6 offset1">
    <div class="box">
      <%= image_tag @community.cover %>
      <p>
        <strong>Description:</strong>
        <%= @community.description %>
      </p>

      <p>
        <strong>Category:</strong>
        <%= @community.category.description %>
      </p>

      <p>
        <strong>Location:</strong>
        <%= @community.location.description %>
      </p>

      <p>
        <strong>People:</strong>
        <%= @community.users.size %>
      </p>

      <%= link_to 'Join/Leave', join_community_path(@community) %>

      <div id="posts">
        <%= render @posts %>
        
      </div>
      <%= will_paginate @posts %>

    </div>
  </div>
</div>