<div class="row">
  <div class="span6 offset1">
    <div class="box">
      <%= image_tag @community.cover %>
      <p>
        <strong>Description:</strong>
        <%= @community.description %>
      </p>

      <p>
        <strong>Category:</strong>
        <%= @community.category %>
      </p>

      <p>
        <strong>Location:</strong>
        <%= @community.location %>
      </p>

      <p>
        <strong>People:</strong>
        <%= @community.users.size %>
      </p>

      <%= link_to 'Join', join_community_path(@community) %>

      <div class="posts">
        <%= render @posts %>
        <%= will_paginate @posts %>
      </div>

      <%= link_to 'Back', communities_path %>
    </div>
  </div>
</div>