<div class="row">
  <div class="span6 offset1">
    <div class="box">
      <%= image_tag @community.cover %>
      <h1>
        <strong><%= @community.description %></strong>
      </h1>
      <p>
        <%= @community.intro %>
      </p>
      <p>
        <%= social_share_button_tag(@community.description) %>
      </p>
      <p class="alignright">
        <%= link_to 'Join/Leave', join_community_path(@community), :class => 'btn'%>
      </P>
      <p>
        <%= @community.category.description %> | 
        <%= @community.location.description %> | 
        <i class="icon-group icon-purple"></i>
        <%= @community.users.size %>
      </p>

      

      <div id="posts">
        <%= render @posts %>
        
      </div>
      <%= will_paginate @posts %>

    </div>
  </div>
</div>